/* to apply this style, use classes.red */
.red {
    color: red;
}

/* to apply this style, use classes.bold */
.bold {
    font-weight: bold;
}

/* this style targets all buttons inside an element that uses classes.Cockpit */
.Cockpit button {
    background-color: green;
    color: white;
    font: inherit;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;
}

/* target hover of buttons inside elements that have applies classes.Cockpit style */
.Cockpit button:hover {
    background-color: lightgreen;
    color: black;
}

/* target buttons that have the classes.Red class inside an element that has the classes.Cockpit style */
.Cockpit button.Red {
    background-color: red;
}

/* target hovered buttons that have the classes.Red class inside an element that has the classes.Cockpit style */
.Cockpit button.Red:hover {
    background-color: salmon;
}